<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <!-- Uključivanje kompajliranog bootstrap-a -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body ng-app="PrvaAplikacija">
    <!-- Prvi zadatak: konverzija iz dinara u evre-->
    <div class="mx-auto col-sm-3 col-xs-3">
        <form ng-controller="KonverzijaCtrl as kor">
            <div>
                <div class="form-group row">
                    <label for="rsd">Vrednost izražena u dinarima</label>
                    <input name="rsd" type="number" class="form-control" ng-model="kor.rsd"/>
                </div>

                <div class="form-group row justify-content-center">
                    <input type="button" class="btn btn-primary" ng-click="kor.konvertuj()"value="Konverzija">
                </div>

                <div class="form-group row">
                    <label>Vrednost izražena u evrima</label>
                    <input type="number" class="form-control" ng-model="kor.eur" />
                </div>
            </div>

        </form>

    </div>

    <script src="js/angularjs/angular.min.js"></script>
    <script src="app/app.js"></script>
</body>

</html>