<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Univerzitet Singidunum - Interakcija čovek računar</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

    <link href="css/app.css" rel="stylesheet">
    
  </head>
  <body ng-app="myApp" style="margin: 20px;">

    <div ng-controller="Primer1 as vm">
        <input type="number" ng-model="vm.a"><br>
        <input type="number" ng-model="vm.b"><br>
        <button ng-click="vm.izracunaj()">Izracunaj veceg</button>
        {{vm.poruka}}
    </div>


    <kartica ng-controller="Primer2 as vm">
      <naslov>Login primer</naslov>
      <div ng-hide="vm.ulogovan">
        <input type="text" ng-model="vm.ime"><br>
        <input type="password" ng-model="vm.lozinka"><br>
        <button ng-click="vm.login()" ng-hide="vm.ulogovan">Login</button>
      </div>
      {{vm.poruka}}<br>
      <button ng-click="vm.logout()" ng-show="vm.ulogovan">Logout</button>
    </kartica>


    <kartica ng-controller="Primer3 as vm">
        <naslov>Plate i zaposleni</naslov>
          <input type="text" ng-model="vm.ime"><br>
          <input type="number" ng-model="vm.plata"><br>
          <button ng-click="vm.dodaj()">Dodaj</button>
        <hr>
        <table>
          <thead>
            <tr>
              <td>Ime</td>
              <td>Plata</td>
            </tr>
          </thead>
          <tr ng-repeat="obr in vm.zaposleni">
              <td>{{obr.ime}}</td>
              <td>{{obr.plata}}</td>
            </tr>
        </table>
        Prosek: {{vm.prosek}}
    </kartica>
  


    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="app_components/app.js"></script>
    
  </body>
</html>
