<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <!-- Uključivanje kompajliranog bootstrap-a -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body ng-app="PetaAplikacija">
    
    <div class="mx-auto col-sm-8 col-xs-8" ng-controller="ValidationCtrl as vc">
        <form name="regForma">
            <div>
                <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label">Ime i prezime:</label>
                    <div class="col-sm-5">
                        <input id="name" type="text" class="form-control" ng-model="vc.ime" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="drodjenja" class="col-sm-3 col-form-label">Datum rođenja:</label>
                    <div class="col-sm-5">
                        <input id="drodjenja" type="date" class="form-control" ng-model="vc.datum" ng-change="vc.dateValidation()" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="username" class="col-sm-3 col-form-label">Korisničko ime:</label>
                    <div class="col-sm-5">
                        <input id="username" type="text" class="form-control" ng-model="vc.korIme" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="loz" class="col-sm-3 col-form-label">Lozinka:</label>
                    <div class="col-sm-5">
                        <input id="loz" type="password" class="form-control" ng-change="vc.plozinkaValidation()" ng-model="vc.lozinka"  required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="loz" class="col-sm-3 col-form-label">Ponovljena lozinka:</label>
                    <div class="col-sm-5">
                        <input id="ploz" type="password" class="form-control" ng-model="vc.plozinka" ng-change="vc.plozinkaValidation()" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mail" class="col-sm-3 col-form-label">Email:</label>
                    <div class="col-sm-5">
                        <input id="mail" type="email" class="form-control" ng-model="vc.mail" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <input type="submit" class="btn btn-primary" value="{{regForma.$valid}}" ng-disabled="regForma.$invalid || !vc.pvalid || !vc.dvalid">
                </div>

            </div>

        </form>
    </div>
    <script src="js/angularjs/angular.min.js"></script>
    <script src="app/app.js"></script>
</body>

</html>