<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <!-- Uključivanje kompajliranog bootstrap-a -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body ng-app="DrugaAplikacija">
    <!-- Prvi zadatak: konverzija iz stepeni Celzijusa u Kelvine-->
    <div class="mx-auto col-sm-3 col-xs-3" ng-controller="PravougaonikCtrl as pc">
        <form>
            <div>
                <div class="form-group row">
                    <label for="celzijus">Prva stranica</label>
                    <input name="celzijus" type="number" class="form-control" ng-model="pc.a"/>
                </div>
                <div class="form-group row">
                    <label for="celzijus">Druga stranica</label>
                    <input name="celzijus" type="number" class="form-control" ng-model="pc.b"/>
                </div>

                <div class="form-group row justify-content-center">
                    <input type="button" class="btn btn-primary" value="Izračunaj" ng-click="pc.izracunaj()">
                </div>

                <div class="form-group row">
                    <label>Obim: {{pc.o}}cm</label>
                </div>
                <div class="form-group row">
                    <label>Površina: {{pc.p}}cm<sup>2</sup></label>
                </div>
                <div class="form-group row">
                    <label>Dijagonala: {{pc.d}}cm</label>
                </div>
            </div>

        </form>

    </div>

    <script src="js/angularjs/angular.min.js"></script>
    <script src="app/app.js"></script>
</body>

</html>