<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <!-- Uključivanje kompajliranog bootstrap-a -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body ng-app="CetvrtaAplikacija" ng-controller="StudentiCtrl as sc">

    <!--Cetvrti zadatak: tabela za prikaz studenata i forma za dodavanje novog-->
    <div class="mx-auto col-sm-3 col-xs-3" >
        <form>
            <div>
                <div class="form-group row">
                    <label for="indeks">Indeks</label>
                    <input name="indeks" type="text" class="form-control" ng-model="sc.newStudent.ind"/>
                </div>
                <div class="form-group row">
                    <label for="ime">Ime i prezime</label>
                    <input name="ime" type="text" class="form-control" ng-model="sc.newStudent.name" />
                </div>
                <div class="form-group row">
                    <label for="prosek">Prosek</label>
                    <input name="prosek" type="number" class="form-control" ng-model="sc.newStudent.avg"/>
                </div>

                <div class="form-group row justify-content-center">
                    <input type="button" class="btn btn-primary" value="Dodaj" ng-click="sc.addStudent()">
                </div>

            </div>

        </form>
    </div>
    <!-- Tabela za ispis studenata, koristimo ng-repeat za iteraciju kroz listu studenata -->
    <!-- Element sa ng-repeat, kao i svi njegovi podelementi se ponavljaju onoliko puta koliko ima elemenata liste-->
    <div class="mx-auto col-sm-6 col-xs-6">
        <table class="table table-striped">
            <thead class="thead-light">
                <th>Indeks</th>
                <th>Ime i prezime</th>
                <th>Prosek</th>
                <th>Obriši</th>
            </thead>
            <tbody>
                <tr ng-repeat="z in sc.studenti track by $index">
                        <td>{{ z.ind }}</td>
                        <td>{{ z.name }}</td>
                        <td>{{ z.avg | number:2 }}</td>
                        <!--Koristimo $index da bismo pratili mesto u listi gde se trenutno nalazimo, i to saljemo funkciji za brisanje-->
                        <td><span class="btn btn-danger" ng-click="sc.removeStudent($index)">x</span></td>
                </tr>
                    <td colspan="3">Najveći prosek</td>
                    <td>{{sc.total}}</td>

                </tr>
            </tbody>
        </table>
    </div>
    <script src="js/angularjs/angular.min.js"></script>
    <script src="app/app.js"></script>

</body>

</html>