<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <!-- Uključivanje kompajliranog bootstrap-a -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body ng-app="TrecaAplikacija">
    
    <!--Treci zadatak racunanje preostalih ESPB na osnovu broja godine i trenutnih ESPB-->
    <div class="mx-auto col-sm-3 col-xs-3" ng-controller="ESPBCtrl as ec">
        <form>
            <div>
                <div class="form-group row">
                    <label for="celzijus">Godina studiranja</label>
                    <input name="celzijus" type="number" class="form-control" ng-model = "ec.god"/>
                </div>
                <div class="form-group row">
                    <label for="celzijus">Trenutno ESPB</label>
                    <input name="celzijus" type="number" class="form-control" ng-model = "ec.pts"/>
                </div>

                <div class="form-group row justify-content-center">
                    <input type="button" class="btn btn-primary" value="Izračunaj" ng-click="ec.izracunaj()">
                </div>

                <div class="form-group row">
                    <label>{{ec.response}}</label>
                </div>
            </div>

        </form>

    </div>

    
    <script src="js/angularjs/angular.min.js"></script>
    <script src="app/app.js"></script>
</body>

</html>