
<!-- ------------------- file list ------------------ -->
<div class="container">
    <div style="max-height:400px; overflow:auto;">        
        <table class="table">
            <thead>
                <tr class="tr-narrow">
                    <td>Naziv</td>
                    <td>Veličina</td>
                    <td>Datum</td>
                    <td>Akcije</td>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-narrow" ng-repeat="el in fc.fileList">
                    <td><a href="files/{{el.name}}" target="_blank">{{el.name}}</a></td>
                    <td nowrap>{{ el.size/1024/1024|number:2 }} MB</td>
                    <td nowrap>{{ el.modified|date:"dd.MM.yyyy HH:mm:ss" }}</td>
                    <td ng-click="fc.removeFile(el)" style="cursor: pointer;"><i class="far fa-trash-alt"></i></td>
                </tr>
   
            </tbody>
        </table>
    </div>
</div>

<!-- ------------------------- file upload -------------------- -->

<div class="container">
        <div style="width:480px; max-height:300px;">         
            <div ng-show="uploader.isHTML5" >
                <div nv-file-drop="" uploader="uploader" options="{ url: '/api/files/upload/' }">
                    <div nv-file-over="" uploader="uploader" 
                        over-class="another-file-over-class" 
                        style="height:50px;"
                        class="well my-drop-zone">
                        Drag & drop datoteke na ovo mesto ili klik na dugme ispod
                    </div>
                </div>
            </div>
            <input type="file" nv-file-select="" uploader="uploader" multiple  />
            <table  class="table" ng-show = "uploader.queue.length >0">
                <thead>
                    <tr class="tr-narrow">
                        <td width="50%">Naziv</td>
                        <td ng-show="uploader.isHTML5">Veličina</td>
                        <td ng-show="uploader.isHTML5">Progres</td>
                        <td>Status</td>
                        <td>Akcije</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in uploader.queue" class="tr-narrow">
                        <td nowrap>{{ item.file.name }}</td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-outline-dark btn-sm btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-outline-dark btn-sm btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Odustani
                            </button>
                            <button type="button" class="btn btn-outline-dark btn-sm btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Obriši
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show = "uploader.queue.length >0">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
        </div>        
        <div>
            <button type="button" class="btn btn-outline-dark btn-sm btn-xs" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload svih
            </button>
            <button type="button" class="btn-outline-dark btn-sm btn-xs" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Prekini sve
            </button>
            <button type="button" class="btn-outline-dark btn-sm btn-xs" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Obriši sve
            </button>
        </div>
    </div>
<div>


