<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <!-- Uključivanje kompajliranog bootstrap-a -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body ng-app="TrecaAplikacija">
    <!-- Treci zadatak: jednostavan kalkulator-->
    <div class="mx-auto col-sm-3 col-xs-3">
        <form ng-controller="KalkulatorCtrl as kalk">
            <div>
                <!--Polja za unos brojeva sa kojima se radi racunanje-->
                <div class="form-group row">
                    <label for="prvi">Prvi broj</label>
                    <input name="prvi" type="number" class="form-control" ng-model="kalk.prvi_broj"/>
                </div>
                <div class="form-group row">
                        <label for="drugi">Drugi broj</label>
                        <input name="drugi" type="number" class="form-control" ng-model="kalk.drugi_broj"/>
                    </div>
                <!--Dugmad za operacije-->
                <div class="form-group row justify-content-center">
                    <input type="button" class="btn btn-success col-sm-2" ng-click="kalk.sabiranje()" value="+">
                    <input type="button" class="btn btn-danger col-sm-2" ng-click="kalk.oduzimanje()" value="-">
                    <input type="button" class="btn btn-warning col-sm-2" ng-click="kalk.mnozenje()" value="*">
                    <input type="button" class="btn btn-info col-sm-2" ng-click="kalk.deljenje()" value="/">
                </div>
                <!--Polje za rezultat-->
                <div class="form-group row">
                    <label>Rezultat</label>
                    <input type="number" class="form-control" ng-model="kalk.rezultat" />
                </div>
            </div>

        </form>

    </div>

    <script src="js/angularjs/angular.min.js"></script>
    <script src="app/app.js"></script>
</body>

</html>