<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Univerzitet Singidunum - Interakcija čovek računar</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

    <link href="/css/app.css" rel="stylesheet">
    
  </head>
  <body ng-app="myApp" style="margin: 20px;">

    <div class="kartica" ng-controller="MyCtrl as tt">
        Stranica A: <input type="number" ng-model="tt.a"><br>
        Strinica B: <input type="number" ng-model="tt.b"><br>
        Povrsina :{{tt.a*tt.b}}
    </div>

    <div class="kartica" ng-controller="Primer2 as tt">
        Stranica A: <input type="number" ng-model="tt.a"><br>
        Strinica B: <input type="number" ng-model="tt.b"><br>
        <button ng-click="tt.racunaj()">Racunaj</button><br>
        Povrsina :{{tt.c}}:<br>

    </div>

    <div class="kartica" ng-controller="Primer3 as vm">
        Element: <input type="number" ng-model="vm.a"><br>
        <button ng-click="vm.dodaj()">Dodaj</button><br>
        Najveci :{{vm.c}}:<br>
        Lista: {{vm.lista}}
    </div>

    <div class="kartica" ng-controller="Primer3 as vm">
        Element: <input type="number" ng-model="vm.a"><br>
        <button ng-click="vm.dodaj()">Dodaj</button><br>
        Najveci :{{vm.c}}:<br>
        Lista:
        <ul>
            <li ng-repeat="el in vm.lista">{{el}}</li>
        </ul>
    </div>

    <div class="kartica" ng-controller="Primer4 as vm">
        Ime: <input type="text" ng-model="vm.ime"><br>
        Prezime: <input type="text" ng-model="vm.prezime"><br>
        Godine: <input type="number" ng-model="vm.godine"><br>
        <button ng-click="vm.dodaj()">Dodaj</button><br>
        Najveci :{{vm.prosekGodina}}:<br>
        Lista:
        <ul>
            <li ng-repeat="el in vm.lista">
              {{el.ime}} {{el}}</li>
        </ul>
    </div>


    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="app_components/app.js"></script>
    
  </body>
</html>
