<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <!-- Uključivanje kompajliranog bootstrap-a -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body ng-app="PetaAplikacija">
    <!-- Peti zadatak: racunanje premije-->
    <div class="mx-auto col-sm-3 col-xs-3">
        <form ng-controller="PremijaCtrl as pc">
            <div>
                <div class="form-group row">
                    <label for="ime">Ime i prezime</label>
                    <input name="ime" type="text" class="form-control" ng-model="pc.ime" />
                </div>
                <div class="form-group row">
                    <legend class="col-form-label">Pol</legend>
                    <label class="radio-inline col-sm-6">
                        <input type="radio" ng-model="pc.pol" value="m">
                        Muški
                    </label>
                    <label class="radio-inline col-sm-6">
                        <input type="radio" ng-model="pc.pol" value="z">
                        Ženski
                    </label>
                </div>

                <div class="form-group row">
                    <label for="datum">Datum rođenja</label>
                    <input name="datum" type="date" class="form-control" ng-model="pc.datum" />
                </div>

                <div class="form-group row justify-content-center">
                    <input type="button" class="btn btn-primary" value="Izračunaj premiju" ng-click="pc.izracunajPremiju()">
                </div>

                <div class="form-group row">
                    <label>Premija: {{pc.premija}}</label>
                </div>
            </div>

        </form>

    </div>

    <script src="js/angularjs/angular.min.js"></script>
    <script src="app/app.js"></script>
</body>

</html>