<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <!-- Uključivanje kompajliranog bootstrap-a -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body ng-app="CetvrtaAplikacija" ng-controller="ZaposleniCtrl as zc">

    <!--Cetvrti zadatak tabela za prikaz korisnika i forma za dodavanje novog-->
    <div class="mx-auto col-sm-3 col-xs-3" >
        <form>
            <div>
                <div class="form-group row">
                    <label for="celzijus">Ime i prezime</label>
                    <input name="celzijus" type="text" class="form-control" ng-model="zc.newEmployee.name"/>
                </div>
                <div class="form-group row">
                    <label for="celzijus">Datum rođenja</label>
                    <input name="celzijus" type="date" class="form-control" ng-model="zc.newEmployee.date" />
                </div>
                <div class="form-group row">
                    <label for="celzijus">Plata</label>
                    <input name="celzijus" type="number" class="form-control" ng-model="zc.newEmployee.salary"/>
                </div>

                <div class="form-group row justify-content-center">
                    <input type="button" class="btn btn-primary" value="Dodaj" ng-click="zc.addEmployee()">
                </div>

            </div>

        </form>
    </div>
    <div class="mx-auto col-sm-6 col-xs-6">
        <table class="table table-striped">
            <thead class="thead-light">
                <th>Ime i prezime</th>
                <th>Datum rođenja</th>
                <th>Plata</th>
                <th>Obriši</th>
            </thead>
            <tbody>
                <tr ng-repeat="z in zc.employees track by $index">
                        <td>{{ z.name }}</td>
                        <td>{{ z.date | date: "dd.MM.yyyy" }}</td>
                        <td>{{ z.salary | number:0 }}</td>
                        <td><span class="btn btn-danger" ng-click="zc.removeEmployee($index)">x</span></td>
                </tr>
                    <td colspan="3">Prosečna plata</td>
                    <td>{{zc.average}}</td>

                </tr>
            </tbody>
        </table>
    </div>
    <script src="js/angularjs/angular.min.js"></script>
    <script src="app/app.js"></script>

</body>

</html>