<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HCI - Singidunum</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
  </head>
  <body ng-app="myApp" ng-controller="MyCtrl as vm">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="col-sm-3 col-md-3 pull-right">
            
            <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pretraga" ng-model="vm.searchText">
                <div class="input-group-btn">
                    <button class="btn btn-default btn-search" type="submit" ng-click="vm.search()"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
            </form>
        </div>

        <div class="col-sm-3 col-md-3 pull-right">
          <ul class="nav navbar-nav navbar-ce">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle"
                    data-toggle="dropdown" role="button"
                    aria-expanded="false">Žanrovi<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li ng-repeat="el in vm.zanrovi"><a href="#" ng-click="vm.filter(el)">{{el.name}}</a></li>
                </ul>
              </li>
              <li><a href="#" ng-click="vm.filter('all')">Svi Filmovi</a></li>
            </ul>
          </div>
    </nav>

    <div class="container" style="padding-top:70px">
      <div class="panel panel-default">
        <div class="panel-heading">
          Filmovi
        </div>
        <div class="panel-body">
            <div>
              <div class="col-xs-3" ng-repeat="el in vm.filmovi">
                  <img src="http://image.tmdb.org/t/p/w500/{{el.poster_path}}" style="height:250px;"><br>
                  <a href="http://www.imdb.com/title/{{el.imdb_id}}/">
                    <strong>{{ el.title | limitTo: 20 }}{{el.title.length > 20 ? '...' : ''}}</strong></a><br>
                  {{el.popularity}} <button class="btn btn-xs" ng-click="vm.set_favorit(el)">omiljeni</button>
              </div>
              
          </div>
        </div>
      </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>


    <script src="js/app.js"></script>

  </body>
</html>
