<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <!-- Uključivanje kompajliranog bootstrap-a -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body ng-app="DrugaAplikacija">
    <!-- Drugi zadatak: računanje zapremine kvadra-->
    <div class="mx-auto col-sm-3 col-xs-3">
        <form ng-controller="KvadarCtrl as kctr">
            <div> 
                <!--Polja za unos stranica kvadra-->
                <div class="form-group row">
                    <label for="prva">Prva stranica</label>
                    <input name="prva" type="number" class="form-control" ng-model="kctr.a"/>
                </div>
                <div class="form-group row">
                    <label for="druga">Druga stranica</label>
                    <input name="druga" type="number" class="form-control" ng-model="kctr.b"/>
                </div>
                <div class="form-group row">
                    <label for="treca">Treca stranica</label>
                    <input name="treca" type="number" class="form-control" ng-model="kctr.c"/>
                </div>
                <!--Dugme za pokretanje funkcije za racunanje zapremine kvadra. Koristeci ng-click atribut navedeno je da se pokrece funkcija kctr.izracunaj() klikom na dugme-->
                <div class="form-group row justify-content-center">
                    <input type="button" class="btn btn-primary" ng-click="kctr.izracunaj()"value="Izracunaj">
                </div>
                <!--Polje za ispis dobijene vrednosti-->
                <div class="form-group row">
                    <label>Zapremina kvadra</label>
                    <input type="number" class="form-control" ng-model="kctr.zapremina" />
                </div>
            </div>

        </form>

    </div>

    <script src="js/angularjs/angular.min.js"></script>
    <script src="app/app.js"></script>
</body>

</html>