<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Univerzitet Singidunum - Interakcija čovek računar</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

    <link href="/css/app.css" rel="stylesheet">
    
  </head>
  <body ng-app="myApp" style="margin: 20px;">

    <div class="kartica" ng-controller="Primer7 as vm">
        <naslov>Primer 7 - dodavanje</naslov> 
        Indeks: <input type="text" ng-model="vm.index"><br>
        Ime: <input type="text" ng-model="vm.ime"><br>
        Prezime: <input type="text" ng-model="vm.prezime"><br>
        Godine: <input type="number" ng-model="vm.godine"><br>
        <button ng-click="vm.dodaj()">Dodaj</button><br>
        Studenti:
        <table>
            <thead>
                <td>Index</td>
                <td>Ime</td>
                <td>Prezime</td>
                <td>Godine</td>
            </thead>
            <tbody>
                <tr ng-repeat="el in vm.lista">
                    <td>{{el.index}}</td>
                    <td>{{el.ime}}</td>
                    <td>{{el.prezime}}</td>
                    <td>{{el.godine}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="kartica" ng-controller="Primer8 as vm">
        <naslov>Primer 8 - izmena</naslov> 
        Studenti:
        <table>
            <thead>
                <td>Index</td>
                <td>Ime</td>
                <td>Prezime</td>
                <td>Godine</td>
            </thead>
            <tbody>
                <tr ng-repeat="el in vm.lista">
                    <td>{{el.index}}</td>
                    <td><input type="text" 
                        ng-model="el.ime"
                        ng-focus="vm.select(el)"
                        ng-blur="vm.saveEl(el)"></td>
                    <td>{{el.prezime}}</td>
                    <td>{{el.godine}}</td>
                </tr>
            </tbody>
        </table>
    </div>



   
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="app_components/app.js"></script>
    
  </body>
</html>
