<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Univerzitet Singidunum - Interakcija čovek računar</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">

    <link href="css/app.css" rel="stylesheet">
    
  </head>
  <body ng-app="myApp" style="margin: 20px;">

    <kartica ng-controller="MyCtrl as vm">
        <naslov>Primer 1</naslov>
        <input type="text" ng-model="vm.a"><br>
        <input type="text" ng-model="vm.b"><br>
        {{vm.a+vm.b}}
    </kartica>

    <kartica ng-controller="Zadatak2Ctrl as vm">
        <naslov>Zadatak 2 - racunanje povrsine</naslov>
        A: <input type="number" ng-model="vm.a"><br>
        B: <input type="number" ng-model="vm.b"><br>
        <button ng-click="vm.izracunaj()">Izracunaj</button>
        <hr>
        Povrsina: {{vm.c}}
    </kartica>

    <kartica ng-controller="Zadatak3Ctrl as vm">
        <naslov>Zadatak 3 - racunanje najmanjeg pozitivnog</naslov>
        0: <input type="number" ng-model="vm.niz[0]"><br>
        1: <input type="number" ng-model="vm.niz[1]"><br>
        2: <input type="number" ng-model="vm.niz[2]"><br>
        3: <input type="number" ng-model="vm.niz[3]"><br>
        4: <input type="number" ng-model="vm.niz[4]"><br>
        <button ng-click="vm.izracunaj()">Izracunaj</button>
        <hr>
        Najmanji pozitivan od 5 brojeva: {{vm.c}}<br>
        {{vm.niz}}
    </kartica>

    <kartica ng-controller="Zadatak4Ctrl as vm">
        <naslov>Zadatak 4 - racunanje najmanjeg parnog</naslov>
        0: <input type="number" ng-model="vm.niz[0]"><br>
        1: <input type="number" ng-model="vm.niz[1]"><br>
        2: <input type="number" ng-model="vm.niz[2]"><br>
        3: <input type="number" ng-model="vm.niz[3]"><br>
        4: <input type="number" ng-model="vm.niz[4]"><br>
        <button ng-click="vm.izracunaj()">Izracunaj</button>
        <hr>
        Najmanji paran broj: {{vm.c}}<br>
        {{vm.niz}}
    </kartica>

    <kartica ng-controller="Zadatak5Ctrl as vm">
        <naslov>Zadatak 5 - korpa</naslov>
        <input type="text" ng-model="vm.obj.proizvod">
        <input type="number" ng-model="vm.obj.cena"><br>
        <button ng-click="vm.dodaj()">Dodaj</button>
        <hr>
        Suma: {{vm.suma}}<br>
        {{vm.niz}}

        <table>
            <tr>
              <td>Prizvod</td>
              <td>Cena</td>
            </tr>
            <tr ng-repeat="el in vm.niz track by $index">
              <td>{{el.proizvod}}</td>
              <td>{{el.cena}}</td>
            </tr>

        </table>
    </kartica>

    

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="app_components/app.js"></script>
    
  </body>
</html>
